* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: darkcyan;

    display: grid;
    grid-template-columns: 1fr 400px;
}

.products-container {
    background-color: darkgreen;
}

.cart {
    background-color: darkgoldenrod;
}